<h4>
    <span translate>{{ 'appStrength.HEADER' }}</span>
    <a ng-controller="BookmarksController" ng-click="bookmark()"><i ng-class="bookmarkIcon" class="add-bookmark"></i></a>
</h4>

<ul>
    <li translate>{{ 'appStrength.1' }}</li>
    <li translate>{{ 'appStrength.2' }}</li>
    <li translate>{{ 'appStrength.3' }}</li>
    <li translate>{{ 'appStrength.4' }}</li>
    <li translate>{{ 'appStrength.5' }}</li>
    <li translate>{{ 'appStrength.6' }}</li>
    <li translate>{{ 'appStrength.7' }}</li>
</ul>