<h2 translate>{{ 'appDownloads.HEADER' }}</h2>
<div ng-include src="'/assets/views/add-bookmark-btn.html'"></div>
<ul class="links" data-heading="{{ 'defaults.SOURCES' | translate }}">
    <li><a href="https://www.comscore.com/Insights/Press-Releases/2014/8/comScore-s-US-Mobile-App-Report-Available-for-Download?_ga=1.116765830.1276564944.1400588641" target="_blank">https://www.comscore.com/Insights/Press-Releases/2014/8/comScore-s-US-Mobile-App-Report-Available-for-Download?_ga=1.116765830.1276564944.1400588641</a></li>
</ul>

<p translate>{{ 'appDownloads.1' }}</p>

<div class="chart-wrapper">
    <canvas tc-chartjs-bar chart-options="options" chart-data="appDownloads" class="chart" auto-legend></canvas>
</div>
<p translate>{{ 'appDownloads.2' }}</p>