<h4 translate>{{ 'apps.HEADER' }}</h4>
<a ng-controller="BookmarksController" ng-click="bookmark()" class="add-bookmark label secondary"><i ng-class="bookmarkIcon"></i><span translate>{{ bookmarkText }}</span></a>

<p translate>{{ 'apps.1' }}</p>
<p translate>{{ 'apps.2' }}</p>
<p translate>{{ 'apps.3' }}</p>

<table>
    <summary translate>{{ 'apps.SUMMARY' }}</summary>
<thead>
    <tr>
        <td translate>{{ 'apps.KEYWORD' }}</td>
        <td translate>{{ 'apps.VOLUME' }}</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td>facebook</td>
        <td>503 000 000</td>
    </tr>
    <tr>
        <td>youtube</td>
        <td>92 800 000</td>
    </tr>
    <tr>
        <td>yahoo!</td>
        <td>36 000 000</td>
    </tr>
    <tr>
        <td>twitter</td>
        <td>18 580 000</td>
    </tr>
    <tr>
        <td>games</td>
        <td>3 240 000</td>
    </tr>
    <tr>
        <td>skype</td>
        <td>3 063 000</td>
    </tr>
    <tr>
        <td>news</td>
        <td>2 720 000</td>
    </tr>
</tbody>
</table>