<h2 translate>{{ 'apps.HEADER' }}</h2>
<div ng-include src="'/assets/views/add-bookmark-btn.html'"></div>
<ul class="links" data-heading="{{ 'defaults.SOURCES' | translate }}">
    <li><a href="http://searchengineland.com/the-most-popular-app-store-keywords-from-chomp-google-play-135744" target="_blank">http://searchengineland.com</a></li>
</ul>

<p translate>{{ 'apps.1' }}</p>
<p translate>{{ 'apps.2' }}</p>
<p translate>{{ 'apps.3' }}</p>

<div class="table-wrapper">
    <table>
        <summary translate>{{ 'apps.SUMMARY' }}</summary>
    <thead>
        <tr>
            <td translate>{{ 'apps.KEYWORD' }}</td>
            <td translate>{{ 'apps.VOLUME' }}</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>facebook</td>
            <td>503 000 000</td>
        </tr>
        <tr>
            <td>youtube</td>
            <td>92 800 000</td>
        </tr>
        <tr>
            <td>yahoo!</td>
            <td>36 000 000</td>
        </tr>
        <tr>
            <td>twitter</td>
            <td>18 580 000</td>
        </tr>
        <tr>
            <td>games</td>
            <td>3 240 000</td>
        </tr>
        <tr>
            <td>skype</td>
            <td>3 063 000</td>
        </tr>
        <tr>
            <td>news</td>
            <td>2 720 000</td>
        </tr>
    </tbody>
    </table>
</div>

<ul class="links" data-heading="{{ 'defaults.SOURCES' | translate }}">
    <li><a href="http://searchengineland.com/the-most-popular-app-store-keywords-from-chomp-google-play-135744" target="_blank">http://searchengineland.com</a></li>
</ul>