<div class="question-mark"></div>
<h4 translate>{{ 'questions4.HEADER' }}</h4>

<p translate>{{ 'questions4.1' }}</p>
<div class="button-group stack-for-small round">
<li><a type="button" class="button" ng-model="mobileOs.value" ng-change="updateModel(mobileOs)" btn-radio="'Android'" translate>Android</a></li>
    <li><a type="button" class="button" ng-model="mobileOs.value" ng-change="updateModel(mobileOs)" btn-radio="'iOS (Apple)'" translate>iOS (Apple)</a></li>
    <li><a type="button" class="button" ng-model="mobileOs.value" ng-change="updateModel(mobileOs)" btn-radio="'Windows'" translate>Windows</a></li>
    <li><a type="button" class="button" ng-model="mobileOs.value" ng-change="updateModel(mobileOs)" btn-radio="'Symbian'" translate>Symbian</a></li>
</div>

<p translate>{{ 'questions4.2' }}</p>
<ul class="button-group stack-for-small round">
    <li><a type="button" class="button" ng-model="appType.value" ng-change="updateModel(appType)" btn-radio="'native'" translate>{{ 'questions4.NATIVE' }}</a></li>
    <li><a type="button" class="button" ng-model="appType.value" ng-change="updateModel(appType)" btn-radio="'hybrid'" translate>{{ 'questions4.HYBRID' }}</a></li>
    <li><a type="button" class="button" ng-model="appType.value" ng-change="updateModel(appType)" btn-radio="'windows'" translate>{{ 'questions4.WINDOWS' }}</a></li>
    <li><a type="button" class="button" ng-model="appType.value" ng-change="updateModel(appType)" btn-radio="'web'" translate>{{ 'questions4.WEB' }}</a></li>
</ul>

<p translate>{{ 'questions4.3' }}</p>
<ul class="button-group round">
    <li><a type="button" class="button" ng-model="appsInstalled.value" ng-change="updateModel(appsInstalled)" btn-radio="0" translate>0</a></li>
    <li><a type="button" class="button" ng-model="appsInstalled.value" ng-change="updateModel(appsInstalled)" btn-radio="1" translate>1</a></li>
    <li><a type="button" class="button" ng-model="appsInstalled.value" ng-change="updateModel(appsInstalled)" btn-radio="3" translate>3</a></li>
    <li><a type="button" class="button" ng-model="appsInstalled.value" ng-change="updateModel(appsInstalled)" btn-radio="7" translate>7</a></li>
</ul>