<div class="question-mark"></div>
<h4 translate>{{ 'warmup.HEADER' }}</h4>
<a ng-controller="BookmarksController" ng-click="bookmark()" class="add-bookmark label secondary"><i ng-class="bookmarkIcon"></i><span translate>{{ bookmarkText }}</span></a>

<p translate>{{ 'warmup.1' }}</p>
<p translate>{{ 'warmup.2' }}</p>

<p translate>{{ 'warmup.Q1' }}</p>
<div class="button-group">
    <button type="button" class="button" ng-model="tender.value" ng-change="updateModel(tender)" btn-radio="'true'" translate ng-class="isCorrect(tender)">{{ 'defaults.YES' }}</button>
    <button type="button" class="button" ng-model="tender.value" ng-change="updateModel(tender)" btn-radio="'false'" translate ng-class="isCorrect(tender)">{{ 'defaults.NO'  }}</button>
</div>
<p translate>{{ 'warmup.Q2' }}</p>
<div class="button-group">
    <button type="button" class="button" ng-model="needNative.value" ng-change="updateModel(needNative)" btn-radio="'true'" translate ng-class="isCorrect(needNative)">{{ 'defaults.YES' }}</button>
    <button type="button" class="button" ng-model="needNative.value" ng-change="updateModel(needNative)" btn-radio="'false'" translate ng-class="isCorrect(needNative)">{{ 'defaults.NO' }}</button>
</div>
<p translate>{{ 'warmup.Q3' }}</p>
<div class="button-group">
    <button type="button" class="button" ng-model="securityRisk.value" ng-change="updateModel(securityRisk)" btn-radio="'true'" translate ng-class="isCorrect(securityRisk)">{{ 'defaults.YES' }}</button>
    <button type="button" class="button" ng-model="securityRisk.value" ng-change="updateModel(securityRisk)" btn-radio="'false'" translate ng-class="isCorrect(securityRisk)">{{ 'defaults.NO' }}</button>
</div>
