<h2 translate>{{ 'openData2.HEADER' }}</h2>
<div ng-include src="'/assets/views/add-bookmark-btn.html'"></div>
<ul class="links" data-heading="{{ 'defaults.SOURCES' | translate }}">
    <li><a href="http://www.programmableweb.com/news/most-popular-apis-least-one-will-surprise-you/2014/01/23" target="_blank">http://www.programmableweb.com</a></li>
    <li><a href="http://www.auratkartalla.com" target="_blank">http://www.auratkartalla.com</a></li>
    <li><a href="http://www.eat.fi" target="_blank">http://www.eat.fi</a></li>
</ul>

<p translate>{{ 'openData2.1' }}</p>
<p translate>{{ 'openData2.2' }}</p>
<p translate>{{ 'openData2.3' }}</p>

<ul class="links" data-heading="{{ 'defaults.SOURCES' | translate }}">
    <li><a href="http://www.programmableweb.com/news/most-popular-apis-least-one-will-surprise-you/2014/01/23" target="_blank">http://www.programmableweb.com</a></li>
    <li><a href="http://www.auratkartalla.com" target="_blank">http://www.auratkartalla.com</a></li>
    <li><a href="http://www.eat.fi" target="_blank">http://www.eat.fi</a></li>
</ul>