<h2 translate>{{ 'openSource2.HEADER' }}</h2>
<div ng-include src="'/assets/views/add-bookmark-btn.html'"></div>
<ul class="links" data-heading="{{ 'defaults.SOURCES' | translate }}">
    <li><a href="http://en.wikipedia.org/wiki/GitHub" target="_blank">http://en.wikipedia.org/wiki/GitHub</a></li>
    <li><a href="https://github.com/UniversityofHelsinki/mobiili" target="_blank">https://github.com/UniversityofHelsinki/mobiili</a></li>
    <li><a href="http://www.theregister.co.uk/2013/04/18/github_licensing_study/" target="_blank">http://www.theregister.co.uk</a></li>
</ul>

<p>
    <span translate>{{ 'openSource2.1' }}</span>
    <a href="https://github.com/UniversityofHelsinki/mobiili" translate>{{ 'openSource2.1_1' }}</a><span translate>{{ 'openSource2.1_2' }}</span>
</p>
<p translate>{{ 'openSource2.2' }}</p>
<p translate>{{ 'openSource2.3' }}</p>

<ul class="links" data-heading="{{ 'defaults.SOURCES' | translate }}">
    <li><a href="http://en.wikipedia.org/wiki/GitHub" target="_blank">http://en.wikipedia.org/wiki/GitHub</a></li>
    <li><a href="https://github.com/UniversityofHelsinki/mobiili" target="_blank">https://github.com/UniversityofHelsinki/mobiili</a></li>
    <li><a href="http://www.theregister.co.uk/2013/04/18/github_licensing_study/" target="_blank">http://www.theregister.co.uk</a></li>
</ul>