<h2 translate>{{ 'openSource3.HEADER' }}</h2>
<div ng-include src="'/assets/views/add-bookmark-btn.html'"></div>
<ul class="links" data-heading="{{ 'defaults.SOURCES' | translate }}">
    <li>
        <a target="_blank" href="https://github.com/UniversityofHelsinki/mobiili">https://github.com/UniversityofHelsinki/mobiili</a>
    </li>
</ul>

<p translate>{{ 'openSource3.1' }}</p>
<p translate>{{ 'openSource3.2' }}</p>
<p translate>{{ 'openSource3.3' }}</p>
<p translate>{{ 'openSource3.4' }}</p>

<ul class="links" data-heading="{{ 'defaults.SOURCES' | translate }}">
    <li>
        <a target="_blank" href="https://github.com/UniversityofHelsinki/mobiili">https://github.com/UniversityofHelsinki/mobiili</a>
    </li>
</ul>
