<div class="question-mark"></div>
<h4>
    <span translate>{{ 'questions2.HEADER' }}</span>
    <a ng-controller="BookmarksController" ng-click="bookmark()"><i ng-class="bookmarkIcon" class="add-bookmark"></i></a>
</h4>

<p translate>{{ 'questions2.1' }}</p>
<ul class="button-group round stack-for-small">
    <li><a type="button" class="button" ng-model="tech.value" ng-change="updateModel(tech)" btn-radio="'Java'">Java</a></li>
    <li><a type="button" class="button" ng-model="tech.value" ng-change="updateModel(tech)" btn-radio="'Flash'">Flash</a></li>
    <li><a type="button" class="button" ng-model="tech.value" ng-change="updateModel(tech)" btn-radio="'HTML5'">HTML5</a></li>
    <li><a type="button" class="button" ng-model="tech.value" ng-change="updateModel(tech)" btn-radio="'C#'">C#</a></li>
</ul>

<p translate>{{ 'questions2.2' }}</p>
<ul class="button-group round stack-for-small">
    <li><a type="button" class="button" ng-model="openSource.value" ng-change="updateModel(openSource)" btn-radio="'iCloud'">iCloud</a></li>
    <li><a type="button" class="button" ng-model="openSource.value" ng-change="updateModel(openSource)" btn-radio="'GitHub'">GitHub</a></li>
    <li><a type="button" class="button" ng-model="openSource.value" ng-change="updateModel(openSource)" btn-radio="'Wikipedia'">Wikipedia</a></li>
    <li><a type="button" class="button" ng-model="openSource.value" ng-change="updateModel(openSource)" btn-radio="'Box.net'">Box.net</a></li>
</ul>