<h2 translate>{{ 'standards.HEADER' }}</h2>
<div ng-include src="'/assets/views/add-bookmark-btn.html'"></div>
<ul class="links" data-heading="{{ 'defaults.SOURCES' | translate }}">
    <li>
        <a target="_blank" href="http://www.evolutionoftheweb.com/#/evolution/day">http://www.evolutionoftheweb.com/#/evolution/day</a>
    </li>
    <li><a href="http://www.telegraph.co.uk/technology/6138384/The-oldest-surviving-web-pages.html" target="_blank">http://www.telegraph.co.uk/technology/6138384/The-oldest-surviving-web-pages.html</a></li>
    <li><a href="http://www.ibiblio.org/pjones/old.page.html" target="_blank">http://www.ibiblio.org/pjones/old.page.html</a></li>
    <li><a href="http://www.lysator.liu.se/pinball/expo/" target="_blank">http://www.lysator.liu.se/pinball/expo/</a></li>
</ul>

<p translate>{{ 'standards.1' }}</p>
<p translate>{{ 'standards.2' }}</p>

<h4 translate>{{ 'standards.HEADER2' }}</h4>

<p translate>{{ 'standards.3' }}</p>
<p translate>{{ 'standards.4' }}</p>
<p translate>{{ 'standards.5' }}</p>

<span translate>{{ 'standards.6' }}</span>
<img src="/assets/images/tech.png">