<div class="question-mark"></div>

<h4 translate>{{ 'summary1.HEADER' }}</h4>
<a ng-controller="BookmarksController" ng-click="bookmark()" class="add-bookmark label secondary"><i ng-class="bookmarkIcon"></i><span translate>{{ bookmarkText }}</span></a>


<p translate>{{ 'questions2.1' }}</p>
<ul class="button-group round stack-for-small">
    <li><a type="button" class="button" ng-model="tech.value" ng-change="updateModel(tech)" btn-radio="'Java'" ng-class="isCorrect(tech)">Java</a></li>
    <li><a type="button" class="button" ng-model="tech.value" ng-change="updateModel(tech)" btn-radio="'Flash'" ng-class="isCorrect(tech)">Flash</a></li>
    <li><a type="button" class="button" ng-model="tech.value" ng-change="updateModel(tech)" btn-radio="'HTML5'" ng-class="isCorrect(tech)">HTML5</a></li>
    <li><a type="button" class="button" ng-model="tech.value" ng-change="updateModel(tech)" btn-radio="'C#'" ng-class="isCorrect(tech)">C#</a></li>
</ul>

<p translate>{{ 'questions2.2' }}</p>
<ul class="button-group round stack-for-small">
    <li><a type="button" class="button" ng-model="openSource.value" ng-change="updateModel(openSource)" btn-radio="'iCloud'" ng-class="isCorrect(openSource)">iCloud</a></li>
    <li><a type="button" class="button" ng-model="openSource.value" ng-change="updateModel(openSource)" btn-radio="'GitHub'" ng-class="isCorrect(openSource)">GitHub</a></li>
    <li><a type="button" class="button" ng-model="openSource.value" ng-change="updateModel(openSource)" btn-radio="'Wikipedia'" ng-class="isCorrect(openSource)">Wikipedia</a></li>
    <li><a type="button" class="button" ng-model="openSource.value" ng-change="updateModel(openSource)" btn-radio="'Box.net'" ng-class="isCorrect(openSource)">Box.net</a></li>
</ul>

<p translate>{{ 'questions2.3' }}</p>
<ul class="button-group round stack-for-small">
    <li><a type="button" class="button" ng-model="openSource2.value" ng-change="updateModel(openSource2)" btn-radio="'Google Chromium'" ng-class="isCorrect(openSource2)">Google Chromium</a></li>
    <li><a type="button" class="button" ng-model="openSource2.value" ng-change="updateModel(openSource2)" btn-radio="'WordPress'" ng-class="isCorrect(openSource2)">WordPress</a></li>
    <li><a type="button" class="button" ng-model="openSource2.value" ng-change="updateModel(openSource2)" btn-radio="'YouTube'" ng-class="isCorrect(openSource2)">YouTube</a></li>
    <li><a type="button" class="button" ng-model="openSource2.value" ng-change="updateModel(openSource2)" btn-radio="'Firefox'" ng-class="isCorrect(openSource2)">Firefox</a></li>
</ul>