<h4>{{ 'QUESTIONS1' | translate }}</h4>

<p>{{ 'QUESTIONS1_1' | translate }}</p>
<div class="button-group">
    <button type="button" class="button" ng-model="hyMobileUsage.value" ng-change="updateModel(hyMobileUsage)" btn-radio="'10'">10%</button>
    <button type="button" class="button" ng-model="hyMobileUsage.value" ng-change="updateModel(hyMobileUsage)" btn-radio="'20'">20%</button>
    <button type="button" class="button" ng-model="hyMobileUsage.value" ng-change="updateModel(hyMobileUsage)" btn-radio="'40'">40%</button>
    <button type="button" class="button" ng-model="hyMobileUsage.value" ng-change="updateModel(hyMobileUsage)" btn-radio="'60'">60%</button>
</div>


<p>{{ 'QUESTIONS1_2' | translate }}</p>
<div class="button-group">
    <button type="button" class="button" ng-model="overallMobileUsage.value" ng-change="updateModel(overallMobileUsage)" btn-radio="'10'">10%</button>
    <button type="button" class="button" ng-model="overallMobileUsage.value" ng-change="updateModel(overallMobileUsage)" btn-radio="'20'">20%</button>
    <button type="button" class="button" ng-model="overallMobileUsage.value" ng-change="updateModel(overallMobileUsage)" btn-radio="'40'">40%</button>
    <button type="button" class="button" ng-model="overallMobileUsage.value" ng-change="updateModel(overallMobileUsage)" btn-radio="'60'">60%</button>
</div>

<p>{{ 'QUESTIONS1_3' | translate }}</p>
<div class="button-group">
    <button type="button" class="button" ng-model="textInputMobile.value" ng-change="updateModel(textInputMobile)" btn-radio="'10'">10%</button>
    <button type="button" class="button" ng-model="textInputMobile.value" ng-change="updateModel(textInputMobile)" btn-radio="'20'">20%</button>
    <button type="button" class="button" ng-model="textInputMobile.value" ng-change="updateModel(textInputMobile)" btn-radio="'40'">40%</button>
    <button type="button" class="button" ng-model="textInputMobile.value" ng-change="updateModel(textInputMobile)" btn-radio="'60'">60%</button>
</div>