<div class="question-mark"></div>
<h4 translate>{{ 'questions1.HEADER' }}</h4>

<p translate>{{ 'questions1.1' }}</p>
<ul class="button-group round stack-for-small">
    <li><a type="button" class="button" ng-model="hyMobileUsage.value" ng-change="updateModel(hyMobileUsage)" btn-radio="10">10%</a></li>
    <li><a type="button" class="button" ng-model="hyMobileUsage.value" ng-change="updateModel(hyMobileUsage)" btn-radio="20">20%</a></li>
    <li><a type="button" class="button" ng-model="hyMobileUsage.value" ng-change="updateModel(hyMobileUsage)" btn-radio="40">40%</a></li>
    <li><a type="button" class="button" ng-model="hyMobileUsage.value" ng-change="updateModel(hyMobileUsage)" btn-radio="60">60%</a></li>
</ul>


<p translate>{{ 'questions1.2' }}</p>
<ul class="button-group round stack-for-small">
    <li><a type="button" class="button" ng-model="overallMobileUsage.value" ng-change="updateModel(overallMobileUsage)" btn-radio="10">10%</a></li>
    <li><a type="button" class="button" ng-model="overallMobileUsage.value" ng-change="updateModel(overallMobileUsage)" btn-radio="20">20%</a></li>
    <li><a type="button" class="button" ng-model="overallMobileUsage.value" ng-change="updateModel(overallMobileUsage)" btn-radio="40">40%</a></li>
    <li><a type="button" class="button" ng-model="overallMobileUsage.value" ng-change="updateModel(overallMobileUsage)" btn-radio="60">60%</a></li>
</ul>

<p translate>{{ 'questions1.3' }}</p>
<ul class="button-group round stack-for-small">
    <li><a type="button" class="button" ng-model="mobileGoogleSearch.value" ng-change="updateModel(mobileGoogleSearch)" btn-radio="10">10%</a></li>
    <li><a type="button" class="button" ng-model="mobileGoogleSearch.value" ng-change="updateModel(mobileGoogleSearch)" btn-radio="20">20%</a></li>
    <li><a type="button" class="button" ng-model="mobileGoogleSearch.value" ng-change="updateModel(mobileGoogleSearch)" btn-radio="40">40%</a></li>
    <li><a type="button" class="button" ng-model="mobileGoogleSearch.value" ng-change="updateModel(mobileGoogleSearch)" btn-radio="60">60%</a></li>
</ul>