<h4>{{ 'WARMUP_HEADER' | translate}}</h4>
<p>{{ 'WARMUP_1' | translate }}</p>
<p>{{ 'WARMUP_2' | translate }}</p>

<p>{{ 'WARMUP_Q1' | translate }}</p>
<div class="button-group">
    <button type="button" class="button" ng-model="tender.value" ng-change="updateModel(tender)" btn-radio="true">{{ 'YES' | translate }}</button>
    <button type="button" class="button" ng-model="tender.value" ng-change="updateModel(tender)" btn-radio="false">{{ 'NO' | translate }}</button>
</div>
<p>{{ 'WARMUP_Q2' | translate }}</p>
<div class="button-group">
    <button type="button" class="button" ng-model="needNative.value" ng-change="updateModel(needNative)" btn-radio="true">{{ 'YES' | translate }}</button>
    <button type="button" class="button" ng-model="needNative.value" ng-change="updateModel(needNative)" btn-radio="false">{{ 'NO' | translate }}</button>
</div>
<p>{{ 'WARMUP_Q3' | translate }}</p>
<div class="button-group">
    <button type="button" class="button" ng-model="securityRisk.value" ng-change="updateModel(securityRisk)" btn-radio="true">{{ 'YES' | translate }}</button>
    <button type="button" class="button" ng-model="securityRisk.value" ng-change="updateModel(securityRisk)" btn-radio="false">{{ 'NO' | translate }}</button>
</div>
