<h4>
    <span translate>{{ 'costs.HEADER' }}</span>
    <a ng-controller="BookmarksController" ng-click="bookmark()"><i ng-class="bookmarkIcon" class="add-bookmark"></i></a>
</h4>
<p translate>{{ 'costs.1' }}</p>
<p translate>{{ 'costs.2' }}</p>

<table>
  <thead>
    <tr>
      <th translate></th>
      <th translate></th>
      <th translate></th>
      <th translate></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td translate>{{ 'costs.3' }}</td>
        <td translate>{{ 'costs.4' }}</td>
        <td translate>{{ 'costs.5' }}</td>
        <td translate>30 000€</td>
    </tr>
    <tr>
        <td translate>{{ 'costs.6' }}</td>
        <td translate>{{ 'costs.7' }}</td>
        <td translate>{{ 'costs.8' }}</td>
        <td translate>10 000€</td>
    </tr>
    <tr>
        <td translate>{{ 'costs.9' }}</td>
        <td translate>{{ 'costs.10' }}</td>
        <td translate>{{ 'costs.11' }}</td>
        <td translate>12 000€</td>
    </tr>
  </tbody>
</table>

<p translate>{{ 'costs.12' }}</p>