<h2 translate>{{ 'costs.HEADER' }}</h2>
<div ng-include src="'/assets/views/add-bookmark-btn.html'"></div>

<p translate>{{ 'costs.1' }}</p>
<p translate>{{ 'costs.2' }}</p>

<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th translate>{{ 'costs.3' }}</th>
        <th translate colspan="2">{{ 'costs.7' }}</th>
        <th translate colspan="2">{{ 'costs.10' }}</th>
      </tr>
      <tr>
        <th translate></th>
        <th translate>{{ 'costs.8' }}</th>
        <th translate>{{ 'costs.9' }}</th>
        <th translate>{{ 'costs.8' }}</th>
        <th translate>{{ 'costs.12' }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
          <td translate>{{ 'costs.4' }}</td>
          <td>1 x 25 000 €</td>
          <td>25 000 €</td>
          <td>10 000 €/<span translate>{{ 'date.Y' }}</span> x 3<span translate>{{ 'date.Y' }}</span></td>
          <td>55 000€</td>
      </tr>
      <tr>
          <td translate>{{ 'costs.5' }}</td>
          <td>1 x 25 000 € + 3 x 5 000 € (<span translate>{{ 'costs.13' }}</span>)</td>
          <td>40 000 €</td>
          <td>13 000 €/<span translate>{{ 'date.Y' }}</span> x 3<span translate>{{ 'date.Y' }}</span></td>
          <td>79 000€</td>
      </tr>
      <tr>
          <td translate>{{ 'costs.6' }}</td>
          <td>3 x 15 000 €</td>
          <td>45 000 €</td>
          <td>3 x 10 000 €/<span translate>{{ 'date.Y' }}</span> x 3<span translate>{{ 'date.Y' }}</span></td>
          <td>125 000€</td>
      </tr>
    </tbody>
  </table>
</div>