<div class="exclamation-mark"></div>
<h2 translate>{{ 'summary1.HEADER' }}</h2>
<div ng-include src="'assets/views/add-bookmark-btn.html'"></div>


<p translate>{{ 'questions6.1' }}</p>
<ul class="button-group stack-for-small round">
    <li><a type="button" class="button" ng-model="costs.value" ng-change="updateModel(costs)" btn-radio="0.8" translate ng-class="isCorrect(costs)">0,8x</a></li>
    <li><a type="button" class="button" ng-model="costs.value" ng-change="updateModel(costs)" btn-radio="1.1" translate ng-class="isCorrect(costs)">1,1x</a></li>
    <li><a type="button" class="button" ng-model="costs.value" ng-change="updateModel(costs)" btn-radio="2.3" translate ng-class="isCorrect(costs)">2,3x</a></li>
    <li><a type="button" class="button" ng-model="costs.value" ng-change="updateModel(costs)" btn-radio="3.5" translate ng-class="isCorrect(costs)">3,5x</a></li>
</ul>
