<h4 translate>{{ 'features.HEADER' }}</h4>
<a ng-controller="BookmarksController" ng-click="bookmark()" class="add-bookmark label secondary"><i ng-class="bookmarkIcon"></i><span translate>{{ bookmarkText }}</span></a>


<h5 translate>{{ 'features.1' }}</h5>
<ul>
    <li translate>{{ 'features.2' }}</li>
    <li><span translate>{{ 'features.3' }}</span> <button class="label" ng-click="getAddress()">{{address}}</button></li>
    <li translate>{{ 'features.4' }}</li>
    <li translate>{{ 'features.5' }}</li>
    <li translate>{{ 'features.6' }}</li>
    <li translate>{{ 'features.7' }}</li>
    <li translate>{{ 'features.8' }}</li>
    <li translate>{{ 'features.9' }}</li>
</ul>