<h4>
    <span translate>{{ 'features.HEADER' }}</span>
    <a ng-controller="BookmarksController" ng-click="bookmark()"><i ng-class="bookmarkIcon" class="add-bookmark"></i></a>
</h4>

<h5 translate>{{ 'features.1' }}</h5>
<ul>
    <li translate>{{ 'features.2' }}</li>
    <li translate>{{ 'features.3' }}</li>
    <li translate>{{ 'features.4' }}</li>
    <li translate>{{ 'features.5' }}</li>
    <li translate>{{ 'features.6' }}</li>
    <li translate>{{ 'features.7' }}</li>
    <li translate>{{ 'features.8' }}</li>
    <li translate>{{ 'features.9' }}</li>
</ul>