<h2 translate>{{ 'features.HEADER' }}</h2>
<div ng-include src="'/assets/views/add-bookmark-btn.html'"></div>

<h4 translate>{{ 'features.1' }}</h4>
<ul>
    <li translate>{{ 'features.2' }}</li>
    <li><span translate>{{ 'features.3' }}</span> <button class="label" ng-click="getAddress()">{{address}}</button></li>
    <li><span translate>{{ 'features.4' }}</span> <button class="label" ng-click="addToHomescreen()" translate>{{'defaults.TRY'}}</button></li>
    <li translate>{{ 'features.5' }}</li>
    <li translate>{{ 'features.6' }}</li>
    <li translate>{{ 'features.7' }}</li>
    <li translate>{{ 'features.8' }}</li>
    <li translate>{{ 'features.9' }}</li>
</ul>