<h4>
    <span translate>{{ 'mobileWeb2.HEADER' }}</span>
    <a ng-controller="BookmarksController" ng-click="bookmark()"><i ng-class="bookmarkIcon" class="add-bookmark"></i></a>
</h4>
<h5 translate>{{ 'mobileWeb2.HEADER2' }}</h5>

<span translate>{{ 'mobileWeb2.SUB_HEADER' }}</span>
<ul>
    <li translate>{{ 'mobileWeb2.A_1' }}</li>
    <li><span translate>{{ 'mobileWeb2.A_2' }}</span> <span translate>{{ 'mobileWeb2.TRY' }}</span></li>
    <li><span translate>{{ 'mobileWeb2.A_3' }}</span> <span translate>{{ 'mobileWeb2.TRY' }}</span></li>
</ul>

<span translate>{{ 'mobileWeb2.SUB_HEADER2' }}</span>
<ul>
    <li translate>{{ 'mobileWeb2.A_1' }}</li>
    <li translate>{{ 'mobileWeb2.A_2' }}</li>
    <li translate>{{ 'mobileWeb2.A_3' }}</li>
</ul>