<h2 translate>{{ 'mobileWeb2.HEADER' }}</h2>
<div ng-include src="'/assets/views/add-bookmark-btn.html'"></div>

<p translate>{{ 'mobileWeb2.0' }}</p>

<h4 translate>{{ 'mobileWeb2.HEADER2' }}</h4>

<h5 translate>{{ 'mobileWeb2.SUB_HEADER' }}</h5>
<ul>
    <li translate>{{ 'mobileWeb2.A_1' }}</li>
    <li><span translate>{{ 'mobileWeb2.A_2' }}</span></li>
    <li><span translate>{{ 'mobileWeb2.A_3' }}</span></li>
</ul>

<p translate>{{ 'mobileWeb2.1' }}</p>

<h5 translate>{{ 'mobileWeb2.SUB_HEADER2' }}</h5>
<ul>
    <li translate>{{ 'mobileWeb2.B_1' }}</li>
    <li translate>{{ 'mobileWeb2.B_2' }}</li>
    <li translate>{{ 'mobileWeb2.B_3' }}</li>
</ul>

<h6 translate>{{ 'mobileWeb2.2' }}</h6>
<img src="/assets/images/devices.jpg">