<div class="exclamation-mark"></div>

<h2 translate>{{ 'summary1.HEADER' }}</h2>
<div ng-include src="'/assets/views/add-bookmark-btn.html'"></div>


<p translate>{{ 'questions3.1' }}</p>
<ul class="button-group round">
<li><a type="button" class="button" ng-model="mobileUrl.value" ng-change="updateModel(mobileUrl)" btn-radio="'true'" translate  ng-class="isCorrect(mobileUrl)">{{ 'defaults.YES' }}</a></li>
    <li><a type="button" class="button" ng-model="mobileUrl.value" ng-change="updateModel(mobileUrl)" btn-radio="'false'" translate  ng-class="isCorrect(mobileUrl)">{{ 'defaults.NO' }}</a></li>
</ul>


<p translate>{{ 'questions3.2' }}</p>
<ul class="button-group round">
    <li><a type="button" class="button" ng-model="useCamera.value" ng-change="updateModel(useCamera)" btn-radio="'true'" translate ng-class="isCorrect(useCamera)">{{ 'defaults.YES' }}</a></li>
    <li><a type="button" class="button" ng-model="useCamera.value" ng-change="updateModel(useCamera)" btn-radio="'false'" translate ng-class="isCorrect(useCamera)">{{ 'defaults.NO' }}</a></li>
</ul>

<p translate>{{ 'questions3.3' }}</p>
<ul class="button-group round">
    <li><a type="button" class="button" ng-model="useLocation.value" ng-change="updateModel(useLocation)" btn-radio="'true'" translate ng-class="isCorrect(useLocation)">{{ 'defaults.YES' }}</a></li>
    <li><a type="button" class="button" ng-model="useLocation.value" ng-change="updateModel(useLocation)" btn-radio="'false'" translate ng-class="isCorrect(useLocation)">{{ 'defaults.NO' }}</a></li>
</ul>