$view-fade-out-duration: .2s;
$view-fade-in-duration:  .5s;
$view-padding:            20px 0 40px 0;

[ui-view] {
  overflow: hidden;
  padding: $view-padding;
  margin: 0 20px;

  &.ng-leave {
    opacity: 1;
    -webkit-transition:opacity $view-fade-out-duration ease-in-out;
       -moz-transition:opacity $view-fade-out-duration ease-in-out;
         -o-transition:opacity $view-fade-out-duration ease-in-out;
            transition:opacity $view-fade-out-duration ease-in-out;
  }

  &.ng-enter {
    opacity: 0;
    max-height: 0;
    padding: 0;
    -webkit-transition:opacity $view-fade-in-duration ease-in-out $view-fade-out-duration, max-height 0s linear $view-fade-out-duration, padding 0s linear $view-fade-out-duration;
       -moz-transition:opacity $view-fade-in-duration ease-in-out $view-fade-out-duration, max-height 0s linear $view-fade-out-duration, padding 0s linear $view-fade-out-duration;
         -o-transition:opacity $view-fade-in-duration ease-in-out $view-fade-out-duration, max-height 0s linear $view-fade-out-duration, padding 0s linear $view-fade-out-duration;
            transition:opacity $view-fade-in-duration ease-in-out $view-fade-out-duration, max-height 0s linear $view-fade-out-duration, padding 0s linear $view-fade-out-duration;
  }

  &.ng-enter-active {
    opacity: 1;
    max-height: 10000px;
    padding: $view-padding;
  }

  &.ng-leave-active {
    opacity: 0;
  }
}
