$view-fade-out-duration: 0.2s;
$view-fade-in-duration:  0.5s;
$view-padding:           0 0 40px 0;

[ui-view="nav"], [ui-view="content"] {
  overflow: hidden;
  padding: $view-padding;
  margin: 0 20px;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;

  &.ng-leave {
    opacity: 1;
    -webkit-transition:opacity $view-fade-out-duration ease-in-out;
       -moz-transition:opacity $view-fade-out-duration ease-in-out;
         -o-transition:opacity $view-fade-out-duration ease-in-out;
            transition:opacity $view-fade-out-duration ease-in-out;
  }

  &.ng-enter {
    opacity: 0;
    max-height: 0;
    padding: 0;

    -webkit-transition:all $view-fade-in-duration ease-in-out $view-fade-out-duration;
       -moz-transition:all $view-fade-in-duration ease-in-out $view-fade-out-duration;
         -o-transition:all $view-fade-in-duration ease-in-out $view-fade-out-duration;
            transition:all $view-fade-in-duration ease-in-out $view-fade-out-duration;
  }

  &.ng-enter-active {
    opacity: 1;
    max-height: 100000px;
    padding: $view-padding;
  }

  &.ng-leave-active {
    opacity: 0;
  }
}
