html {
    color: $emo;
}

body {
    background-color: white;
    min-width: 320px;
    min-height: 420px;
}

/* A simple test case to verify Compass build works ok */
#{headings(all)} {
    color: $soil;
    text-transform: uppercase;
    font-weight: bold;
}

.hidden {
    display: none;
}

[ui-view=header], .progress-header, .content-wrapper {
    clear: both;
    background-color: white;
}

.sub-nav, .content-wrapper {
    max-width: $limit-content-width;
    margin: auto;
}

.content {
    position: relative;

    h5, h6 {
        // Sub heading margin
        margin-top: 30px;
    }
}

a img, img {
    border: 1px solid $emo;
}

[ui-view].part-divider {
    position: absolute;
    left: 0;
    right: 0;
    top: 119px;
    bottom: 0;
    background-color: $emo;
    color: white;
    text-align: center;
    z-index: 2;
    margin: 0;

    #{headings(all)} {
        position: absolute;
        max-width: $limit-content-width;
        word-break: break-word;
        padding-bottom: 80px;
        color: white;
        top: 50%;
        width: 90%;
        left: 50%;
        word-wrap: break-word;
        @include translate(-50%, -50%);

        font-size: 1.8rem;

        @media #{$medium-up} {
            font-size: 2.5rem;
        }
    }
}

.question-mark, .exclamation-mark {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 25rem;
    line-height: 18rem;
    // @include scale(20);
    transform-origin: right center;
    color: $ocean;
    opacity: 0.15;
    z-index: 0;

    -webkit-animation: change-color 15s 5; /* Chrome, Safari, Opera */
    animation: change-color 15s 5;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes change-color {
    0% {color: $ocean;}
    25% {color: $marine;}
    50% {color: $emo;}
    75% {color: $sea;}
    100% {color: $ocean;}
}

/* Standard syntax */
@keyframes change-color {
    0% {color: $ocean;}
    25% {color: $marine;}
    50% {color: $emo;}
    75% {color: $sea;}
    100% {color: $ocean;}
}

.question-mark:after {
    content: '?';
}

.exclamation-mark:after {
    content: '!';
}

.share {
    text-align: center;
}