html {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif, Nimbus Sans L;
    color: $emo;
}

/* A simple test case to verify Compass build works ok */
#{headings(all)} {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif, Nimbus Sans L;
    color: $soil;
    text-transform: uppercase;
    font-weight: bold;
}

.hidden {
    display: none;
}

[ui-view].part-divider {
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 0;
    background-color: $emo;
    margin: 0;
    color: white;
    text-align: center;


    #{headings(all)} {
        position: absolute;
        color: white;
        top: 50%;
        @include translateY(-50%);
    }

}