html {
    color: $emo;
}

/* A simple test case to verify Compass build works ok */
#{headings(all)} {
    color: $soil;
    text-transform: uppercase;
    font-weight: bold;
}

.hidden {
    display: none;
}

[ui-view=header], .progress-header, .content-wrapper {
    clear: both;
    max-width: 1280px;
    margin: auto;
}

.content {
    position: relative;
}

[ui-view].part-divider {
    position: absolute;
    left: 0;
    right: 0;
    top: 160px;
    bottom: 0;
    background-color: $emo;
    max-width: 1280px;
    margin: auto;
    color: white;
    text-align: center;


    #{headings(all)} {
        position: absolute;
        color: white;
        top: 50%;
        width: 90%;
        left: 50%;
        @include translate(-50%, -50%);
    }
}

.question-mark, .exclamation-mark {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 25rem;
    line-height: 25rem;
    // @include scale(20);
    transform-origin: right center;
    color: $ocean;
    opacity: 0.15;
    z-index: 0;

    -webkit-animation: change-color 15s 5; /* Chrome, Safari, Opera */
    animation: change-color 15s 5;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes change-color {
    0% {color: $ocean;}
    25% {color: $marine;}
    50% {color: $emo;}
    75% {color: $sea;}
    100% {color: $ocean;}
}

/* Standard syntax */
@keyframes change-color {
    0% {color: $ocean;}
    25% {color: $marine;}
    50% {color: $emo;}
    75% {color: $sea;}
    100% {color: $ocean;}
}

.question-mark:after {
    content: '?';
}

.exclamation-mark:after {
    content: '!';
}