html {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif, Nimbus Sans L;
    color: $emo;
}

/* A simple test case to verify Compass build works ok */
#{headings(all)} {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif, Nimbus Sans L;
    color: $soil;
    text-transform: uppercase;
    font-weight: bold;
}

.content-wrapper {
    padding: 20px;
}

.hidden {
    display: none;
}