$emo:       #666666;
$soil:      #424242;
$panther:   #222222;
$asphalt:   #cccccc;

$ocean:     #178feb;
$sea:       #1073bf;
$marine:    #0c5790;

$rose:      #DB4BC1;
$meadow:    #5BDB96;

$salmon:    #FF5B5B;