nav[ui-view] {
    clear: both;
    position: relative;
    z-index: 3;

    &.top-bar {
        overflow: hidden;
    }

    &.navigation {
        // border-top: 1px solid $emo;

        a {
            z-index: 1;

            &:first-of-type {
                float: left;
            }
            &:last-of-type {
                float: right;
            }
        }
    }

    &.navigation.part-divider-view {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      width: 100%;
      margin: 0;

        a {
            float: none;
        }

        .pager {
            display: none;
        }
    }
}

.button-group {
    padding-left: 5px;
}

.button, button {
    // font-family: 'Open Sans', Helvetica, Arial, sans-serif, Nimbus Sans L;
    outline: none;

    &:hover, &.active {
        background-color: $marine;
    }
}

.pager {
    clear: both;
    text-align: center;
    width: 100%;

    @media #{$medium-up} {
      position: absolute;
      top: 35px;
    }

    .page-indicator {
        display: inline-block;
        border: 1px solid $ocean;
        padding: 5px;
        border-radius: 5px;
        margin: 5px;

        &.current {
            background-color: $ocean;
        }
    }
}

input {
    outline: none;
}

.switch {
    span {
        position: relative;
        top: -0.5rem;
        margin-right: 10px;
    }
    label {
        // background-color: $ocean;
    }
    input:checked + label {
        background-color: $ocean;
    }
}

table {
    .centered {
        text-align: center;
    }
}

li.fa.search {

    input[type=search] {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .button {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

}