nav[ui-view] {
    clear: both;
    position: relative;
    z-index: 3;

    &.navigation {
        // border-top: 1px solid $emo;

        > a {
            z-index: 1;

            &:first-of-type {
                float: left;
            }
            &:last-of-type {
                float: right;
            }
        }
    }

    &.navigation.part-divider-view {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      width: 100%;
      margin: 0;
      padding-bottom: 0;

        a {
            float: none;
        }

        .pager {
            display: none;
        }
    }
}

nav.top-bar {
    overflow: hidden;
    max-width: $limit-content-width;
    margin: auto;
    padding-right: 10px;
}

.button-group {
    padding-left: 5px;
}

.button, button {
    // font-family: 'Open Sans', Helvetica, Arial, sans-serif, Nimbus Sans L;
    outline: none;

    &:hover {
        background-color: $marine;
    }

    &.active.correct {
        background-color: $meadow;

        &:after {
            content: '\f00c';
            font: normal normal normal 14px/1 FontAwesome;
            padding-left: 10px;
            position: absolute;
            right: 12px;
            top: 20px;
        }
    }
    &.active.incorrect {
        background-color: $rose;

        &:after {
            content: '\f00d';
            font: normal normal normal 14px/1 FontAwesome;
            padding-left: 10px;
            position: absolute;
            right: 12px;
            top: 20px;
        }
    }
}

.pager {
    clear: both;
    text-align: center;
    width: 100%;

    @media #{$medium-up} {
      position: absolute;
      top: 35px;
    }

    .page-indicator {
        display: inline-block;
        border: 1px solid $ocean;
        padding: 5px;
        border-radius: 5px;
        margin: 5px;

        &.current {
            background-color: $ocean;
        }
    }
}

input {
    outline: none;
}

.switch {
    span {
        position: relative;
        top: -0.5rem;
        margin-right: 10px;
    }
    label {
        // background-color: $ocean;
    }
    input:checked + label {
        background-color: $ocean;
    }
}

table {
    .centered {
        text-align: center;
    }
}

li.fa.search {

    input[type=search] {
        // IE fix
        font-family: $font-family-sans-serif;

        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;

        padding-right: 30px;

        width: 175px;

        @media only screen and (min-width: $medium-screen-width) {
            width: auto;
        }

    }

    .button {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

}

.add-bookmark.label.secondary {
    color: white;
    margin-bottom: 20px;

    i {
        color: $ocean;
        margin-right: 10px;
    }
}

.joyride-content-wrapper {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);

    .button {
        height: inherit;
    }
}

a[disabled] {
    pointer-events: none;
    // opacity: 1 !important;
}

.table-wrapper {
    max-width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    touch-action: auto;

    table {
        min-width: 400px; // Override this for each table if necessary
        max-width: 100%;
        touch-action: auto;
    }
}

ol.part-list {
    list-style-position: inside;
}

.part-divider-heading:before {
    content: attr(data-no);
    padding-right: 15px;

    @media only screen and (min-width: $medium-screen-width) and (min-height: $medium-screen-width) {
        padding-right: 0;
        font-size: 400%;
        display: block;
    }
}

.links {
    border-left: solid 1px $asphalt;
    margin: 0 0 30px 30px;
    float: right;
    width: 100%;
    font-size: 0.9rem;
    max-width: 350px;
    display: none;

    @media #{$medium-up} {
        display: block;
    }

    // Bottom links
    &:last-of-type {
        display: block;
        float: none;
        border: 0;
        border-top: 1px solid $asphalt;
        margin: 30px 0 0 0;
        max-width: none;

        @media #{$medium-up} {
            display: none;
        }
    }

    &:before {
        content: attr(data-heading);
        padding: 5px;
    }

    li {
        display: block;
    }

    a {
        display: block;
        word-wrap: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 5px;
    }
}