nav {
    clear: both;
    border-top: 1px solid $emo;

    &.bottom {
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      margin: 0;
    }
}

.button, button {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif, Nimbus Sans L;
    background-color: $ocean;
    outline: none;

    &:hover, &.active {
        background-color: $marine;
    }
}

.pager {
    // text-align: center;

    .page-indicator {
        display: inline-block;
        border: 1px solid $ocean;
        padding: 5px;
        border-radius: 5px;
        margin: 5px;

        &.current {
            background-color: $ocean;
        }
    }
}

input {
    outline: none;
}

.switch {
    span {
        position: relative;
        top: -0.5rem;
        margin-right: 10px;
    }
    label {
        // background-color: $ocean;
    }
    input:checked + label {
        background-color: $ocean;
    }
}