nav[ui-view] {
    clear: both;
    position: relative;
    z-index: 3;

    &.navigation {
        // border-top: 1px solid $emo;

        a {
            z-index: 1;

            &:first-of-type {
                float: left;
            }
            &:last-of-type {
                float: right;
            }
        }
    }

    &.navigation.part-divider-view {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      width: 100%;
      margin: 0;
      padding-bottom: 0;

        a {
            float: none;
        }

        .pager {
            display: none;
        }
    }
}

nav.top-bar {
    overflow: hidden;
    max-width: $limit-content-width;
    margin: auto;
    padding-right: 10px;
}

.button-group {
    padding-left: 5px;
}

.button, button {
    // font-family: 'Open Sans', Helvetica, Arial, sans-serif, Nimbus Sans L;
    outline: none;

    &:hover {
        background-color: $marine;
    }

    &.active.correct {
        background-color: $meadow;

        &:after {
            content: '\f00c';
            font: normal normal normal 14px/1 FontAwesome;
            padding-left: 10px;
            position: absolute;
            right: 12px;
            top: 20px;
        }
    }
    &.active.incorrect {
        background-color: $rose;

        &:after {
            content: '\f00d';
            font: normal normal normal 14px/1 FontAwesome;
            padding-left: 10px;
            position: absolute;
            right: 12px;
            top: 20px;
        }
    }
}

.pager {
    clear: both;
    text-align: center;
    width: 100%;

    @media #{$medium-up} {
      position: absolute;
      top: 35px;
    }

    .page-indicator {
        display: inline-block;
        border: 1px solid $ocean;
        padding: 5px;
        border-radius: 5px;
        margin: 5px;

        &.current {
            background-color: $ocean;
        }
    }
}

input {
    outline: none;
}

.switch {
    span {
        position: relative;
        top: -0.5rem;
        margin-right: 10px;
    }
    label {
        // background-color: $ocean;
    }
    input:checked + label {
        background-color: $ocean;
    }
}

table {
    .centered {
        text-align: center;
    }
}

li.fa.search {

    input[type=search] {
        // IE fix
        font-family: $font-family-sans-serif;

        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;

        width: 175px;

        @media only screen and (min-width: $medium-screen-width) {
            width: auto;
        }

    }

    .button {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

}

.add-bookmark.label.secondary {
    color: white;
    margin-bottom: 20px;

    i {
        color: $ocean;
        margin-right: 10px;
    }
}

.joyride-content-wrapper .button {
    height: inherit;
}

a[disabled] {
    pointer-events: none;
    // opacity: 1 !important;
}