$header-height-small: 72px;
$header-font-size: 17px;
$header-smaller-font-size: 12px;

[ui-view=header].part-divider-active {
    .controls {
        display: none;
    }
}

header {
    clear: both;
    background-color: $panther;
    background-image: url('/assets/images/helsinki_university_53x50.png');
    background-repeat: no-repeat;
    background-position: 16px 50%;
    padding-right: 16px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif, Nimbus Sans L;
    text-transform: uppercase;
    height: $header-height-small;

    #{headings(all)} {
        display: inline-block;
        color: white;
        font-weight: 700;
        font-size: $header-font-size;
        margin: 0;
        line-height: $header-height-small;
    }

    .title {
        display: none;
        padding-left: 85px;
    }

    .title-link {
        float: left;
    }

    a {
        color: $asphalt;
        font-size: $header-smaller-font-size;
        padding: 0 6px;
        line-height: $header-height-small;

        &:hover {
            color: white;
        }
    }

    .languages {
        display: inline-block;
        float: right;

        a:after {
            content: attr(data-text-min);
        }
    }

    @media only screen and (min-width: $medium-screen-width) {

        #{headings(all)} {
            line-height: $header-height-small;
        }
        .title {
            display: inline-block;
        }

        .languages {
            float: right;

            a:after {
                content: attr(data-text);
            }
        }
        a {
            line-height: $header-height-small;
        }
    }
}

.navigation-header {
    clear: both;
    position: relative;
    top: -2px;
    background-color: $soil;
    color: $asphalt;

    .progress-indicator {
        padding: 0 15px;
    }

    .top-bar-section ul li > a {
        display: inline-block;
    }

    .controls {
        a {
            color: white;
        }
        i {
            padding-right: 8px;
        }
    }
}

.progress-header {
    clear: both;
    ul {

        li {
            display: inline-block;
        }
    }
}

.controls {
    .add-bookmark {
        margin-left: 15px;
        color: $emo;

        i {
            margin-right: 5px;

            &.active {
                color: $ocean;
            }
        }
    }
    .progress-wrapper {
        display: inline-block;
        float: right;
        font-size: 0.8rem;
        line-height: 31px;
        margin-right: 10px;

        .progress {
            width: 200px;
            display: inline-block;
            margin-bottom: -3px;
            height: 16px;
        }
    }
}

dl.sub-nav {
    dd {
        margin-bottom: 15px;
    }
}