$header-height-small: 72px;
$header-font-size: 17px;
$header-smaller-font-size: 12px;

[ui-view=header] {
    background-color: $panther;
    margin-bottom: 20px;

    &.hide-controls {
        & > .controls, .progress-header {
            display: none !important;
        }
    }

    &.part-divider-active {
        .top-bar .help {
            visibility: hidden;
        }
    }
}


header {
    clear: both;
    background-image: url('/assets/images/helsinki_university_53x50.png');
    background-repeat: no-repeat;
    background-position: 16px 50%;
    padding-right: 16px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif, Nimbus Sans L;
    text-transform: uppercase;
    height: $header-height-small;
    max-width: $limit-content-width;
    margin: auto;

    #{headings(all)} {
        display: inline-block;
        color: white;
        font-weight: 700;
        font-size: $header-font-size;
        margin: 0;
        line-height: $header-height-small;
    }

    .title {
        display: inline-block;
        padding-left: 85px;

        &:after {
            content: attr(data-text-min);
        }
    }

    .title-link {
        float: left;

    }

    a {
        color: $asphalt;
        font-size: $header-smaller-font-size;
        padding: 0 6px;
        line-height: $header-height-small;

        &:hover {
            color: white;
        }
    }

    .languages {
        display: inline-block;
        float: right;

        a:after {
            content: attr(data-text-min);
        }
    }

    @media only screen and (min-width: $medium-screen-width) {

        #{headings(all)} {
            line-height: $header-height-small;
        }
        .title:after {
            content: attr(data-text);
        }

        .languages {
            float: right;

            a:after {
                content: attr(data-text);
            }
        }
        a {
            line-height: $header-height-small;
        }
    }
}

.navigation-header {
    clear: both;
    position: relative;
    background-color: $soil;
    color: $asphalt;

    .progress-indicator {
        padding: 0 15px;
    }

    .top-bar-section ul li > a {
        display: inline-block;
    }

    .top-bar-controls {
        a {
            color: white;
        }
        i {
            padding-right: 8px;
        }
    }
}

.progress-header {
    clear: both;
    padding-top: 5px;
    ul {

        li {
            display: inline-block;
        }
    }
}

.controls {
    text-align: right;
    background-color: white;
    border-bottom: 1px solid $asphalt;

    .progress-wrapper {
        display: block;
        font-size: 0.8rem;
        line-height: 31px;
        margin: auto;
        max-width: $limit-content-width;
        padding-right: 10px;

        .progress-inner-wrapper {
            display: inline;
        }

        .progress {
            width: 200px;
            display: inline-block;
            margin-bottom: -3px;
            height: 16px;
        }

        .meter {
            max-width: 100%;
        }
    }
}

dl.sub-nav {
    dd {
        margin-bottom: 15px;
        margin-left: 12px;

        @media only screen and (min-width: 345px) {
            margin-left: 1rem;
        }

    }
    a:after {
        content: attr(data-text-min);

        @media only screen and (min-width: 925px) {
            content: attr(data-text);
        }
    }
}