$header-height-small: 70px;
$header-font-size: 17px;
$header-smaller-font-size: 12px;

header {
    background-color: $panther;
    background-image: url('/assets/images/helsinki_university_53x50.png');
    background-repeat: no-repeat;
    background-position: 16px 50%;
    padding-left: 85px;
    padding-right: 16px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif, Nimbus Sans L;
    text-transform: uppercase;
    height: $header-height-small;

    #{headings(all)} {
        display: inline-block;
        color: white;
        font-weight: 700;
        font-size: $header-font-size;
        margin: 0;
        line-height: $header-height-small;
    }

    .title {
        display: none;
    }

    a {
        color: $asphalt;
        font-size: $header-smaller-font-size;
        padding: 0 6px;
        line-height: $header-height-small;

        &:hover {
            color: white;
        }
    }

    .languages {
        display: inline-block;
        float: right;

        a:after {
            content: attr(data-text-min);
        }
    }

    @media only screen and (min-width: $medium-screen-width) {

        #{headings(all)} {
            line-height: $header-height-small;
        }
        .title {
            display: inline-block;
        }

        .languages {
            float: right;

            a:after {
                content: attr(data-text);
            }
        }
        a {
            line-height: $header-height-small;
        }
    }
}