@mixin translate($translateX, $translateY) {
            transform: translate($translateX, $translateY);
    -webkit-transform: translate($translateX, $translateY);
       -moz-transform: translate($translateX, $translateY);
}

@mixin scale($scale) {
            transform: scale($scale);
    -webkit-transform: scale($scale);
       -moz-transform: scale($scale);
}