.search-results {

    .back-button {
        display: block;
        margin: 10px 0 20px;
    }

    ul {
        list-style-type: none;
    }

    li {
        padding-right: 40px;

        h3 {
            margin-bottom: 15px;
            text-decoration: underline;
        }
    }


    p {
        color: $emo;
        padding-left: 1em;
    }

    .match {
        font-weight: bold;
    }

    .read-more {
        display: block;
        text-align: right;
    }
}