.search-results {
    ul {
        list-style-type: none;
    }

    li {
        padding-right: 40px;
    }

    h3 {
        margin-bottom: 15px;
    }

    p {
        color: $emo;
        padding-left: 1em;
    }

    .match {
        font-weight: bold;
    }

    .read-more {
        display: block;
        text-align: right;
    }
}