<h2 translate>{{ 'stats3.HEADER' }}</h2>
<div ng-include src="'/assets/views/add-bookmark-btn.html'"></div>
<ul class="links" data-heading="{{ 'defaults.SOURCES' | translate }}">
    <li>
        <a target="_blank" href="https://think.withgoogle.com/mobileplanet/en/graph/?country=fi&category=MOBI&topic=Q09B&stat=Q09B_1&wave=2013&age=a1&age=a2&gender=all&chart_type=bar&active=stat">https://think.withgoogle.com/mobileplanet/en/graph/?country=fi&category=MOBI&topic=Q09B&stat=Q09B_1&wave=2013&age=a1&age=a2&gender=all&chart_type=bar&active=stat</a>
    </li>
    <li>
        <a target="_blank" href="https://think.withgoogle.com/mobileplanet/en/graph/?country=fi&category=KEYACT&subcategory=SEARCH&topic=Q31_1&stat=Q31_1_1&stat=Q31_1_2&wave=2013&age=a1&age=a2&gender=all&chart_type=bar&active=stat">https://think.withgoogle.com/mobileplanet/en/graph/?country=fi&category=KEYACT&subcategory=SEARCH&topic=Q31_1&stat=Q31_1_1&stat=Q31_1_2&wave=2013&age=a1&age=a2&gender=all&chart_type=bar&active=stat
    </a>
    </li>
</ul>

<p translate>{{ 'stats3.1' }}</p>

<h6 translate>{{ 'stats3.HEADER2' }}</h6>
<div class="chart-wrapper">
    <canvas tc-chartjs-bar chart-options="options" chart-data="mobileUsers" class="chart" auto-legend></canvas>
</div>

<h6 translate>{{ 'stats3.HEADER3' }}</h6>
<div class="chart-wrapper">
    <canvas tc-chartjs-bar chart-options="options" chart-data="MobileUsersHy" class="chart" auto-legend></canvas>
</div>