<h2 translate>{{ 'stats3.HEADER' }}</h2>
<div ng-include src="'/assets/views/add-bookmark-btn.html'"></div>

<p translate>{{ 'stats3.1' }}</p>

<h5 translate>{{ 'stats3.HEADER2' }}</h5>
<div class="chart-wrapper">
    <canvas tc-chartjs-bar chart-options="options" chart-data="mobileUsers" class="chart" auto-legend></canvas>
</div>

<h5 translate>{{ 'stats3.HEADER3' }}</h5>
<div class="chart-wrapper">
    <canvas tc-chartjs-bar chart-options="options" chart-data="MobileUsersHy" class="chart" auto-legend></canvas>
</div>