<h4 translate>{{ 'stats3.HEADER' }}</h4>
<a ng-controller="BookmarksController" ng-click="bookmark()" class="add-bookmark label secondary"><i ng-class="bookmarkIcon"></i><span translate>{{ bookmarkText }}</span></a>

<div class="chart-wrapper">
    <canvas tc-chartjs-bar chart-options="options" chart-data="mobileUsers" class="chart" auto-legend></canvas>
</div>

<h5 translate>{{ 'stats3.HEADER2' }}</h5>
<div class="chart-wrapper">
    <canvas tc-chartjs-bar chart-options="options" chart-data="MobileUsersHy" class="chart" auto-legend></canvas>
</div>